#navbar{
  text-align: center;
  width: 100%;
  background-color: #333333;
}
.wrapper{
  text-align: center;
  
}
#btnNav{
  color: #ffffff;
  
}
#menu{
  display: inline;
  position: relative;
  background-color: #ffffff;
  border-color: #333333 solid;
  left:0%;
}
#TransLab{
  text-align: center;
  position: relative;
  left:30%;
}

