#navbar{
  text-align: center;
  width: 100%;
  background-color: #333333;
}
.wrapper{
  text-align: center;
  position: relative;
  left:0%;
  
}
#btnNav{
  color: #ffffff;
  
}
#menu{
  display: inline;
  position: relative;
  background-color: #ffffff;
  border-color: #333333 solid;
  left:0%;
}
#TransLab{
  text-align: center;
  position: relative;
  left:30%;
}

#title{
  text-align: center;
  width: 100%;
  background-color: #333333;
  color:#ffffff;
}

.btn-secondary{
  text-align: center;
  width: 100%;
  background-color: #404242;
}

#content{
  text-align: center;
  width: 100%;
}

.btnPrin{
  background-color: #FFA200;
  border-radius: 0%;
  border: none;
  color: #404242;
  width: 100%;
  font-size: 10px;
}

#contentBtn{
  padding: 20%;
}
.cols{
  padding: 20%;
}