#navbar{
  text-align: center;
  width: 100%;
  background-color: #333333;
  position: relative;
  color:#ffffff;
}

.wrapper{
  text-align: center;
  position: relative;
  left:0%;
  
}
#btnNav{
  color: #ffffff;
  
}
#menu{
  display: inline;
  position: relative;
  background-color: #ffffff;
  border-color: #333333 solid;
  left:0%;
}
#TransLab{
  text-align: center;
  position: relative;
  left:30%;
}

#title{
  text-align: center;
  width: 100%;
  background-color: #333333;
  color:#ffffff;
}

.btnPrin{
  text-align: center;
  width: 100%;
  background-color: transparent;
  color:#ffffff;
}

.btnMenu{
  text-align: center;
  width: 100%;
  background-color: transparent;
  color:#ffffff;
  background-color: #FFA400;
  border-radius: 0%;
  border: none;
  margin: 10px;
}

#content{
  text-align: center;
  width: 100%;
}

#principal{
  text-align: center;
  background-color: #333333;
  width: 100%;
  height: 100%;
  padding: 5%;
  color:#ffffff;
}

#space{
  padding: 20%;
}
.cols{
  padding: 20%;
}

#logo{
  text-align: left;
  width: 20%;
}

#title{
  color:#FFA200;
  font-family: Helvetica;
  font-size: 150%;
  padding: 10px;
}

#sectionPerfil{
  text-align: center;
  padding: 10px;
}

#user{
  text-align: center;
  width: 40%;
  border-radius: 50%;
  border-color: #FFA200 solid 5px;
  margin: 5%;
}

/*#sectionButtons{
  display: none;
}*/

.sectionHide{
  display: none;
}

#contenedor{
  background-color: #DDDEE0;
  height: 100%;
}
#headColor{
  text-align: center;
  font-family: Helvetica;
  color: #FFA200;
  font-size: 150%;
}

#btnAddCard{
  background-color: #FFA200;
  border-radius: 0%;
  border: none;
  color: #ffffff;
  width: 100%;
  margin: 5%;
}

input{
  width: 60%;
}

.dtsIngresados{
  color: #333333;
  font-family: Helvetica;
}

#accordion{
  text-align: center;
  width: 100%;
}